/* CSS */

body{
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  .max-width {
    max-width: 1280px;
    margin: 5rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .bg_transparant_lichtgroen{
    background-color: var(--transparant-lichtgroen);
  }

  .bg_lichtgroen{
    background-color: var(--Lichtgroen);
  }

.space{
    padding: 5rem 1.5rem;
  }

  /* extra ruimte onder een titel of bodytekst */
  .extraSpace{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  :root {
    --Zwart: rgba(26, 26, 26, 100);
    --Groen: rgba(135, 150, 52, 1);
    --Rood: rgba(159, 37, 58, 1);
    --Lichtgroen: rgba(228, 236, 194, 1);
    --transparant-lichtgroen: rgba(228, 236, 194, 0.4);
    --Bruin: rgba(115, 90, 38, 1);
  }

  a{
    text-decoration: none;
  }
  
  /******************************************************************/
/* Fonts /* /* Fonts /* /* Fonts /* /* Fonts /* /* Fonts /* /* Fonts /* 
/******************************************************************/
  
  h1, h2, h3, h4, h5, p, 
  label, input, button, 
  nav a, header li, .koopKaarten ul li,
  .ConcertInfo dl, 
  .uitvoerenden a div, a{
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: white;
  }

  h2{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    text-transform: uppercase; 
    color: var(--Rood);
  }

  h3,.koopKaarten ul li {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
  }

  h4{
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
  }

  h5{
    font-size: 1rem;
    font-weight: 500;
  }


  p, label, input, button,  .ConcertInfo dl,   .uitvoerenden a div, a{
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin: 0;
  }

/******************************************************************/
/* Buttons /* /* Buttons /* /* Buttons /* /* Buttons /* /* Buttons /* 
/******************************************************************/

/* ROOD */
.btn_rood{
    background-color: var(--Rood);
    padding: 0.4rem 2rem;
    width: fit-content;
    color: white;
    text-decoration: none;
    border-radius: 0 50px 50px 0;
    display: inline-block;
    border: 0.2rem solid var(--Rood);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_rood:hover,
.swiper-slide a:hover .btn_rood,
.tweeXColumn a:hover .btn_rood{
  border: 0.2rem solid var(--Rood);
  color: var(--Rood);
  background-color: transparent;
}

/* ROOD BORDER */
.btn_border{
  background-color: transparent;
  padding: 0.4rem 2rem;
  width: fit-content;
  color: var(--Rood);
  text-decoration: none;
  border-radius: 50px 0 0 50px;
  display: inline-block;
  border: 0.2rem solid var(--Rood);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_border:hover{
  border: 0.2rem solid white;
  color: white;
  background-color: var(--Rood);
}

/* GROEN */
.btn_groen{
  background-color: var(--Groen);
  padding: 0.4rem 2rem;
  width: fit-content;
  color: white;
  text-decoration: none;
  border-radius: 0 50px 50px 0;
  display: inline-block;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 0.2rem solid transparent;
}

.btn_groen:hover{
  border: 0.2rem solid var(--Groen);
  color: var(--Groen);
  background-color: transparent;
}


.btn_border.reverseBorder{
  border-radius: 0px 50px 50px 0 ;
}

.doubleBtn{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


.link{
  color: var(--Rood);
  text-decoration: underline;
}

/* ZWART LINK */
.linkZwart {
  color: var(--Zwart);
}

.linkZwart:hover {
  text-decoration: none;
}


/******************************************************************/
/* Header /* /* Header /* /* Header /* /* Header /* /* Header /* 
/******************************************************************/
header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


header a img {
    height: 4.5rem;
}


header nav{
    display: flex;
    gap: 2rem;
}

header nav a{
  color: var(--Zwart);
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.08rem;
}


header ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}



/******************************************************************/
/* ATF-Home /* /* ATF-Home /* /* ATF-Home /* /* ATF-Home /* /* ATF-Home /* 
/******************************************************************/

.atf {
    display: flex;
    flex-direction: column;
}

.atf img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.atf h1 {
    margin: 0; 
    padding: 2rem 0;
    text-align: center; 
    background-color: var(--Groen);
}



/******************************************************************/
/* aankomende_concerten /* /* aankomende_concerten /* /* aankomende_concerten /* 
/******************************************************************/



.aankomende_concerten h3{
  text-transform: uppercase;
}

.swiper-wrapper,
.concerthistorie ul{
  padding: 0;
}

/* .aankomendeConcerten-wrapper, */
.tweeXColumn ul,
.concerthistorie ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    gap: 3rem;
    padding: 0;
}


/* 
.aankomendeConcerten-slide, */
.tweeXColumn ul li,
.concerthistorie ul li {
    flex: 1 1 30%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tweeXColumnXtitel{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.swiper-slide img,
.tweeXColumn ul li img {
    margin-bottom: 1rem;
}

.swiper-slide a,
.tweeXColumn ul li a,
.concerthistorie ul li a{
    transition: transform 0.5s ease; /* Voeg een overgang toe voor de schaalverandering */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--Zwart);
    width: 100%;
}

.swiper-slide a{
  gap: 0;
}

.swiper-slide a > *{
  margin-bottom: 0.3rem;
}

.swiper-slide a > p{
  margin: 1.5rem 0;
}

.concerthistorie ul li a{
  height: 100%;
  overflow-y: hidden;
}

/* .swiper-slide a > p,
.tweeXColumn ul li a > p{
    margin: 1rem 0;
} */


.titelButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.aankomende_concerten{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

  
.aankomende_concerten > a{
  display: none;
}


.tweeXColumn a div{
  position: relative;
  overflow: hidden; /* Verberg alles wat buiten de container valt */
  width: 100%;
  height: 15rem;
}


/* Stijl voor de div rond de afbeelding */
.swiper-slide a div,
.posterhistorie a div img {
  position: relative;
  overflow: hidden; /* Verberg alles wat buiten de container valt */
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}

/* Stijl voor de afbeelding */
.swiper-slide a div img,
.tweeXColumn a div img,
.posterhistorie a div img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zorgt ervoor dat de afbeelding volledig past en goed bijsnijdt */
  transition: transform 0.3s ease; /* Smooth transition voor de zoom */
}

/* Zoom-in effect op hover */
.swiper-slide a:hover div img,
.tweeXColumn a:hover div img {
  transform: scale(1.1); /* Zoom de afbeelding in */
}










/******************************************************************/
/* 1xColumn /* /* 1xColumn /* /* 1xColumn /* /* 1xColumn /* /* 1xColumn /*
/******************************************************************/


.eenXColumn{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex: 1;
    width: 100%;

    section > p{
        /* background-color: red; */
        margin: 1.5rem 0;
    }
}

.eenXColumn section{
    width: 50%;
}

.eenXColumn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/******************************************************************/
/* Call to action Banner /*  /* Call to action Banner /*  /* Call to action Banner /*  
/******************************************************************/

.CTA{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex: 1;
  width: 100%;

  section > p{
    /* background-color: red; */
    margin: 1.5rem 0;
}
}

.CTA section{
  width: 50%;
}

.CTA section > a{

    margin-top: auto; /* Duwt de knop naar de onderkant van de sectie */

}

.nieuwsbrief{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nieuwsbrief h2,
.nieuwsbrief h3{
  width: 80%;
}

.CTA h2{
  color: var(--Zwart);
}

.CTA form{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

form input{
  border: none;
  border-bottom: 0.1rem solid var(--Zwart);
  background-color: transparent;
  margin-bottom: 1rem;
  outline: none;
}

.nieuwsbrief form a{
  text-decoration: underline;
  color: var(--Zwart);
}

input[type="checkbox"]{
  transform: scale(1.5); /* Verander de waarde om de grootte aan te passen */
  margin-right: 0.5rem;
  background-color: red;
  margin-bottom: 3rem;
}

/******************************************************************/
/* Footer /* /* Footer /* /* Footer /* /* Footer /* /* Footer /* 
/******************************************************************/


.footerTop section:last-of-type img{
  width: 16rem;
  max-width: 100%; /* Zorgt ervoor dat het logo niet groter wordt dan zijn container */
  height: auto;
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ruimte tussen de items */
}

.footer-item {
  box-sizing: border-box; /* Zorgt ervoor dat padding en borders in de breedte worden meegerekend */
  padding: 0;
  list-style-type: none;
  width: fit-content;
}

.footerTop .footer-item:nth-of-type(2) a p{
  font-weight: 600;
  color: var(--Zwart);
  background-color: black;
}

/* .footer-item:nth-of-type(2) ul li a:hover{
background-color: aquamarine;
}

.footer-item:nth-of-type(2) ul li a:visited{
  color: black;
} */

/* socials + logo */
.footerTop section:last-of-type{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-item ul:last-child{
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.footerTop section:last-of-type ul li p{
  font-size: 2rem;
}


@media (max-width: 1254px) {
  .footer-item{
    min-width: 45%;
  }

  .footerTop{
    gap: 4rem;
  }
}

@media (max-width: 840px) {
  .footer-item{
    min-width: 95%;
  }

  .footerTop{
    gap: 4rem;
  }
}



/* Voor mobiele weergave */



/******************************************************************/
/* FooterBottom /* /* FooterBottom /* /* FooterBottom /* /* FooterBottom /* 
/******************************************************************/

.footerBottom{
  background-color: var(--Zwart);
  padding: 1.5rem;
  height: fit-content;
}


.footerBottom ul{
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  
}

.footerBottom h5{
  color: white;
}

.footerBottom ul li{
  display: flex;
  align-items: center; /* Centreert de items verticaal binnen de ul */
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}


.footerBottom ul li a {
  display: inline-flex;
  align-items: center; /* Centreert de tekst en de separator verticaal */
}

.footerBottom ul li a::after {
  content: " | "; /* De separator die je wilt toevoegen */
  color: white; /* Kleur van de separator */
  margin-left: 1rem;
}

.footerBottom ul li a:last-child::after{
  content: ""; /* Verwijder de separator na het laatste item */
}


@media (max-width: 1220px) {
  .footerBottom ul{
    gap: 1rem;
    height: 100%;
  }

  .footerBottom ul li:nth-child(3) {
    flex-basis: 100%; /* Zet de breedte op 100% zodat de derde li op een nieuwe regel komt */
  }
}



@media (max-width: 950px) {
  .footerBottom ul li:nth-child(2) {
    flex-basis: 100%; /* Zet de breedte op 100% zodat de derde li op een nieuwe regel komt */
    flex-wrap: wrap;
    gap: 0.2rem 1rem;
}
}

@media only screen and (min-width: 168px) and (max-width: 768px) {


  header nav{
    display: none;
  }

  .tweeXColumn ul{
    flex-direction: column;
    gap: 5rem;
  }


}

@media only screen and (min-width: 168px) and (max-width: 900px){
  .eenXColumn,
  .reverse{
    flex-direction: column;
}

.overzichtDirigenten div{
  flex-direction: column;
  gap: 2rem !important;
}

.eenXColumn section {
    width: 100%; /* Zorg ervoor dat de secties 100% breedte nemen */
}

.eenXColumn img {
    width: 100%; /* De afbeelding vult de volledige breedte */
    height: auto; /* Houd de verhouding correct */
}



.CTA{
  flex-direction: column;
}

.CTA section{
  width: 100%;
}

.CTA section:nth-of-type(2){
  display: none;
}

}

@media only screen and (max-width: 1099px) {


  .titelButton a{
    display: none;
  }
  
  .aankomende_concerten > a{
    display: block;
    width: auto;
    border-radius: 0;
    text-align: center;
  }

  .swiper-slide a div{
    height: 20rem !important;
  }


}


.atf.bannerImg > img{
  height: 25vh;
}




.introtekst{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


/******************************************************************/
/* Lees verder dropdown  /* 
/******************************************************************/

.PaulIntroDropdown section:first-of-type img{
  width: 80%;
  height: 20rem;
}

@media only screen and (max-width: 1200px) {
  .PaulIntroDropdown section:first-of-type img{
    width: 100%;
    height: 22rem;
  }
}


.banner video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}





