.koopKaarten article ul li{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 400;
}

.bestuursoverzicht article ul li:nth-child(1) {
    min-width: 15em;
    text-align: left;
}

.bestuursoverzicht article ul li:nth-child(3) {
    min-width: 20em;
    text-align: left;
}

.bestuursoverzicht article ul li a{
    color: var(--Zwart);
    text-decoration: underline;
}

.bestuursoverzicht a{
    color: var(--Rood);
  }

.bestuursoverzicht article ul li:last-of-type{
    align-self: flex-end;
}

.overigeVrijwillegers section > p{
    margin: 0;
}

.overigeVrijwillegerTotaal{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.checklistRood li i{
background-color: var(--Rood);
}


@media only screen and (min-width: 168px) and (max-width: 1060px) {
 


    .bestuursoverzicht article ul li:last-of-type{
      align-self: flex-start;
  }
  
  
  }